@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  box-sizing: border-box;
  background-color: #F9F9F9;
}

.floating{
  position: fixed; 
            bottom: 80px;
            right: 35px; 
            background-color: transparent; 
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 50%; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            text-decoration: none;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease;
}

.floating:hover {
  transform: scale(1.1);
}

.hero{
  background-color: #570102;
  width: 100%;
  height: 920px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero .group{
  background-color: transparent;
  width: 775px;
  height: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  color: #F9F9F9;
}

.hero .group h1{
  background-color: transparent;
  font-weight: bold;
  font-size: 96px;
}

.hero .group h2{
  background-color: transparent;
  font-size: 48px;
}

.hero .group a{
  width: 341px;
  height: 94px;
  text-decoration: none;
  background-color: #D2BEA4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F9F9;
  text-align: center;
  border-radius: 8px;
}

.about{
  width: 100%;
  height: 920px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F9F9F9;
  padding: 105px;
  gap: 48px;
}

.about img{
  width: 494px;
  height: 443px;
  border-radius: 8px;
}

.about .content-about{
  width: 573px;
  height: 351px;
}

.about .content-about h3{
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 15px;
  color: #57423D;
}

.about .content-about p{
  width: 573px;
  height: 288px;
  color: #495057;
  font-size: 24px;
}

.specialties{
  width: 100%;
  height: 920px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.specialties h3{
  font-weight: bold;
  font-size: 48px;
  color: #57423D;
  background-color: transparent;
}

.specialties ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 14px;
  width: 90%;
  height: 480px;
  list-style: none;
}

.specialties ul li{
  padding: 14px 0;
  font-size: 24px;
  font-weight: bold;
  color: #424242;
}

.time{
  width: 100%;
  height: 920px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time .advs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: transparent;
}

.time h3{
  font-weight: bold;
  font-size: 48px;
  color: #57423D;
  margin-bottom: 28px;
  background-color: transparent;
}

.time .adv{
  width: 301px;
  height: 551px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  border-radius: 14px;
  transition: all 0.5s;
}

.adv:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.time .adv img{
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.time .adv h4{
  color: #570102;
  font-weight: bold;
  font-size: 32px;
}

.time .adv p{
  width: 100%;
  text-align: center;
  color: #495057;
  font-size: 20px;
}